<section class="py-5 px-8 border border-black w-full rounded-2xl border-b-[6px] bg-pot-pourri-50">
    <span class="font-semibold text-lg">Overall Stats</span>
    <div class="flex flex-wrap gap-3 mt-3">
        <div class="p-8 rounded-2xl bg-pot-pourri-200 border border-black border-b-4 flex-1 text-black text-lg flex flex-col justify-center items-center gap-2"> 
            <span class="text-4xl font-bold text-big-stone-700">
                4.59<span class="text-sm">GPA</span>
            </span>
            <p class="max-w-[10rem] text-sm">Grade points average</p>
        </div>
        <div class="p-8 rounded-2xl bg-pot-pourri-200 border border-black border-b-4 flex-1 text-black text-lg flex justify-center items-center gap-2 flex-col"> 
            <span class="text-4xl font-bold text-big-stone-700">
                First class
            </span>
            <p class="max-w-[10rem] text-sm">honors</p>
        </div>
    </div>
</section>